.custom_ct {
    width: 100%;

    h2 {
        border-left: 4px solid red;
        padding-left: 18px;
    }
}

/* .at_main {
    background: #ffffff;
    padding: 26px 26px 5px 26px;
    border-radius: 10px;
    border: 1px solid #c0bdbd;
} */
.rt_sub2 {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 20px;
}
.mySwiper3 {
    overflow-y: visible;
}

.custom_slide {
    iframe{
        margin-bottom: 28px;
        border-radius: 8px;
    }
}
.custom_slide {
    .i_img{
        margin-bottom: 28px;
        border-radius: 8px;
    }
}
.mySwiper3 .swiper-button-next:after,.mySwiper3 .swiper-button-prev:after {
    color: #ffffff;
}

.ct_nav{
    margin-bottom: 18px;
    display: flex;
    gap: 3px;

}

.n_link {
    position: relative;
    color: #676767;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
    padding-left: 7px;
    padding-right: 8px;
}
.n_link.active {
    font-weight: 700;
    color: #333333;
}
.n_link.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ff0000;

}

.sub-video-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}
.sub-video-items .vdo_card .vdo_card_top{
    width: 100%;
    height: 115px;
    border-radius: 10px;
    
}
.sub-video-items .vdo_card .vdo_card_top .vdoCard_img{
width: 100%;
height: 100%;
}


.playBtn-wrap3 .v-duration2 {
    padding-top: 4px;
}
.playBtn-wrap3 {
    right: -1px;
    max-width: 74px;
    position: absolute;
    bottom: -2px;
    padding: 3px 7px 5px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
        background: #00000047;
    gap: 3px;
    backdrop-filter: blur(1px);
}
.sub-video-items .vdo_card .vdo_card_bottom a{
    color: #333333;
}
.sub{
    margin-top: 33px;
    .news_tab_t{
        margin-bottom: 25px;
    }
    .video-items-left {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        .vdo_card_top{
            
        }
        .vdo_card_bottom a{
            color: #333333;
            font-weight: 500;
            &:hover{
                color: #ff0000;
            }
        }
        
    }
}
.custom_slide{
overflow: hidden;
border-radius: 8px;
}
.imgswiper{
    padding-bottom: 30px;
}
.i_img{
    width: 100%;
    height: 483px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    display: block;
    img{
        width: 100%;
        height: 100%;
    }
    .imgIcon {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 24px;
        font-size: 35px;
        color: #ffffffd6;
    }
}
.i_link{
    position: absolute;    
    left: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
    /* border-radius: 0 0 8px 8px; */
    bottom: 0px;
    padding: 12px 20px 0px;
    background-color: rgb(255 255 255 / 52%);
    backdrop-filter: blur(15px);
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sub > .photo_grid {
    padding-right: 10px;
    margin-top: 0;
    height: 100%;
    display: grid;
    gap: 10px;
    padding: 00;
    background: transparent;
    border-radius: 0;
    overflow-y: visible;
    grid-template-columns: 1fr 1fr 1fr;
    .photo_item>.photo_bottom {
        a{
            color: #333333;
            &:hover{
                color: #ff0000;
            }
        }
    }
}
/* ========================== */
/* Media Queries */
/* For mobile phones: */
/* ========================== */


@media (max-width: 600px) {
    #nswiper{
        min-height: 100% !important;
    }
    .sub-video-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .at_main {
    border: none;
    }
    .ct_nav{
        overflow-x: auto;  
    }
    .custom_ct {
        h2 {
            padding-left: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            border-radius: 4px;
            color: #333;
        }   
    }
    .at_main {
        padding: 0px;
    }
    .custom_slide {
        position: relative;
        iframe {
            margin-bottom: 15px;
            border-radius: 8px;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 17px);
    }
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 38%);
    }
    .sub {
        .video-items-left {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px 10px;
        }
    }

}