/* story */
.wb_row {
  gap: 10px;
}

.wb_card {
  width: 100%;
  max-width: 160px;
}

.story-grid {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.swp_wrap {
  height: 322px !important;
}

.reals-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: auto;
  width: 13px;
  height: 19px;
  background-color: #fff;
  border-radius: 2px;
}

.reals-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
  width: 2px;
  height: 16px;
  border-radius: 10px;
  background-color: #fff;
}

.reals-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4px;
  width: 2px;
  height: 16px;
  border-radius: 10px;
  background-color: #fff;
}

.story-card {
  max-width: 160px;
  width: 100%;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.story-card:hover {
  transform: translateY(-5px);
}

/* .story-card2 p {
  margin-top: 5px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
} */

.story_img {
  width: 100%;
  position: relative;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;

  img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.story-card p {
  margin-top: 5px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
}

.cstm_container {

  h2 {
    font-size: 26px;
    border-left: 4px solid red;
    padding-left: 18px;
  }
}

._tabs {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 15px;


  .newstab_title {
    font-size: 22px;
    color: #ff0303;
    text-align: left;
    font-weight: 600;
    margin-right: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
  }
}

.webs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.story-card2 {
  position: relative;
  max-width: 180px;
  width: 100%;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.webs_img {
  width: 100%;
  position: relative;
  height: 335px;
  border-radius: 5px;
  overflow: hidden;
}
.story-card2 .web-tag {
  position: absolute;
  top: 6px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.918);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: #ff0000;
  font-weight: 600;
  border-radius: 5px;
  filter: saturate(2);
  -webkit-filter: saturate(1);
  padding: 3px 6px 0px;
  font-size: 12px;
  line-height: 18px;
  z-index: 2;
  white-space: nowrap;
}

.web_s_all {
  a {
    height: 300px;
    overflow: hidden;
    position: relative;
  }
}

@media screen and (max-width: 1360px) {
  .webs_img {
    height: 290px;
  }
}

@media screen and (max-width: 600px) {
  .story-card2 {
  position: relative; 
}
  .story-card2 .web-tag {
  position: absolute;
  top: 10px;
  right: auto;
  left: 10px;
  }
  ._tabs::after {
    content: "";
    width: 80%;
    right: 0;
    height: 1px;
    background-color: transparent;
    position: absolute;
    top: 14px;
  }
    .webs_img {
    height: 285px;
  }
  .webs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
