 <!-- NL1023 : 16/09/2023 - removed poppins -->
.breaking_main {
    h2 {
        border-left: 4px solid red;
        padding-left: 18px;
        font-family: "Noto Sans Devanagari", sans-serif;
    }
}

.brk-tag {
    background: #000000;
    display: flex;
    margin-bottom: 22px;
    align-items: center;
    padding: 4px 4px 4px 23px;
    border-radius: 26px;
    gap: 43px;
    width: max-content;

    h5 {
        margin-bottom: 0;
        color: #ffffff;
    }
}

.ref-btn {
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: #ff0000;
    transition: all 0.3s ease;
    display: flex;

    &:hover {
        transform: rotate(180deg);
    }
}

.breakingNews {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 0px;

    h3 {
        margin-bottom: 19px;
    }
}

.breaking_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #c5c5c5;
}

.brk_l {
    display: flex;
    gap: 12px;
    padding-right: 30px;

    h5 {
        margin-bottom: 0;
    }
}

.brk_l h5:first-of-type {
    white-space: nowrap;
}

.brk_r {
    display: flex;
    gap: 18px;
    background: #e9e9e9;
    padding: 7px 21px 4px;
    border-radius: 36px;
}

.brk_l h5:first-of-type {
    white-space: nowrap;
    color: #545353;
    margin-bottom: 6px;
    background: #e7e7e7;
    display: inline-block;
    padding: 2px 19px;
    border-radius: 8px;
    font-size: 14px;
    height: max-content;
}

/* ========================== */
/* Media Queries */
/* For mobile phones: */
/* ========================== */

@media (max-width: 600px) {
    .breaking_main {
        h2 {
            font-size: 24px;
        }
    }

    .brk_l {
        flex-direction: column;
    }

    .brk_l h5:first-of-type {
        width: fit-content;
        padding: 4px 10px;
        font-size: 13px;
    }

    .brk-tag {
        margin-bottom: 15px;
        padding: 4px 4px 4px 14px;
        gap: 16px;

        h5 {
            font-size: 13px;
            margin-bottom: 0;
            color: #ffffff;
        }
    }

    .ref-btn {
        padding: 9px;
        font-size: 14px;
    }

    .breakingNews {
        h3 {
            font-size: 16px;
            margin-bottom: 19px;
            line-height: 29px;
        }
    }

    .brk_l {
        h5 {
            font-size: 14px;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 22px;
        }
    }

    .breaking_content {
        padding-bottom: 14px;
        padding-top: 14px;
    }

    .brk_r {
        gap: 20px;
        padding: 8px 19px 5px;
        border-radius: 36px;
    }
}