/* footer */
.footer_main {
  padding-top: 80px;
  margin-top: 40px;
}

.footer-bottom,
.footer_main {
  background-color: #000000;
}

.footer-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}

.footer_left {
  width: 30%;

  .footer_logo {
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .footer_logo_wrap {
    margin-bottom: 10px;
  }

  .footer_logo_wrap .footer_logo:first-child {
    width: 73px;
  }

  .footer_logo_wrap .footer_logo:last-child {
    width: 150px;
  }

  p {
    max-width: 294px;
    color: #efefef;
    font-size: 18px;
  }
}

.footer_logo_wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact_wrap {
  padding-top: 20px;
}

.contact_block .ct_left {
  color: #848484;
}

.contact_block .ct_left {
  color: #848484;
}

.contact_block .ct_left i {
  font-size: 20px;
}

.contact_block .ct_right {
  display: flex;
  flex-direction: column;

}

.contact_block .ct_right small {
  color: #848484;
}

.contact_block .ct_right a {
  color: #fff;
  font-size: 16px;
}

.contact_block .ct_right small p {
  color: #fff;
  font-size: 16px;
}

.contact_block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer_centre {
  width: 40%;
  display: flex;
  padding-left: 45px;
  padding-right: 30px;
  justify-content: space-around;

  .footer_col {
    display: flex;
    flex-direction: column;
  }
}

.footer_ct {
  display: flex;
  flex-direction: column;
}

.footer_col>.footer_menu>.footer_item,
.footer_col>.footer_menu>.footer_ct>.footer_item {
  margin-bottom: 10px;
}

.footer_centre .footer_col:nth-child(1) {
  width: 40%;
}

.footer_centre .footer_col:nth-child(2) {
  width: 60%;

  .footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer_centre .footer_col .footer_menu {
  display: flex;
  flex-direction: column;
}

.footer_right h5 {
  color: #fff;
  font-size: 20px;
  max-width: 180px;
  margin-bottom: 22px;
}

.footer_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.app_btn_wrap {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.footer_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding-left: 0;
  margin-left: 0px;
}

.footer_col h4 {
  color: white;
  margin-bottom: 18px;
}

.footer_col .footer_menu .footer_item a {
  color: white;
  text-decoration: none;
  font-size: 16.5px;
  line-height: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_col .footer_menu .footer_item a:hover {
  color: #ff3131;
}

.poweredby span {
  color: #6f6f6f;
  margin-right: 7px;
}

.poweredby a {
  width: 112px;
  display: inline-block;
  height: max-content;
}

.poweredby a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;


}

.poweredby a img:hover {
  opacity: 1;
}
 <!-- NL1023 : 16/09/2023 - removed poppins -->
.poweredby {
  margin-left: auto;
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 14px;
  font-weight: 500;

}

.nsl-block {
  margin-top: 24px;
 <!-- NL1023 : 16/09/2023 - removed poppins -->
  p {
    font-size: 15px;
    font-family: "Noto Sans Devanagari", sans-serif;
    color: #6f6f6f;
    margin-bottom: 10px;
  }
}

.input_wrap {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
}

.signup_input {
  max-width: 243px;
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;
}

.signup_input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}

.Subscribe-btn {
  margin-left: auto;
  height: 100%;
  width: 175px;
  border: none;
  border-radius: 11px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffff;
  font-weight: 500;
  font-size: 18px;
  padding-top: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.Subscribe-btn:hover {
  background-color: red;
  color: #fff;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.Subscribe-btn:active {
  transform: scale(0.9);
}

.footer-mid {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  padding: 15px 0;
  border-top: 1px solid #4b4b4b;
  background-color: #000000 !important;
  color: #b0b0b0;

  .row {
    display: flex;
    justify-content: space-between;
  }
}

.get_app {
  display: flex;
  align-items: center;
  gap: 13px;

  strong {
    /* display: inline-block; */
    font-size: 17px;
    color: rgb(118, 118, 118);
  }
}

.playstore-button {
  width: 154px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #8f8f8f;
  border-radius: 12px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 1);
  padding: 8px 18px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

._icon {
  width: 1.4rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.65rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
  font-size: 14px;
}
 <!-- NL1023 : 16/09/2023 - removed poppins -->
.footer-site-info {
  font-size: 14px;
  font-family: "Noto Sans Devanagari", sans-serif;
  color: #6f6f6f;
}

#footer-navigation,
#footer-navigation li a:hover,
.custom-footer,
.custom-footer li a:hover {
  color: white;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

.footer-bottom ul {
  margin: 0;
}

.inline-inside {
  font-size: 0;
  line-height: 0;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

#footer-menu li {
  display: inline-block;
  padding: 0 21px;
  position: relative;
  line-height: 1;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

#footer-menu li+li:before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  font-size: 0;
  border-left: 1px solid #232234;
  border-right: 1px solid #333146;
}

navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

#footer-socials {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  margin-top: 18px;
}

#footer-socials .socials {
  text-align: right;
  margin: 0 -7px;
  display: inline-block;
  vertical-align: middle;
}

.socials-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 6px;
  line-height: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #141421;
  border: 1px solid #2e2e4c;
  box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
}

.socials-item i {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.facebook {
  color: #fff;
}

.twitter {
  color: #fff;
}

.instagram {
  color: #fff;
}

.youtube {
  color: #fff;
}

.whatsapp {
  color: #fff;
}

a.socials-item:hover {
  box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
  border-color: rgba(255, 255, 255, 0.61);
  background: linear-gradient(to right, rgba(255, 9, 9, 0.06), #8383833b, rgba(255, 0, 0, 0.052));
}

.footer-bottom a:hover {
  color: white;
}

footer p,
footer li {
  font-size: 15px;
  line-height: 22px;
}

.widget {
  margin-bottom: 15px;
}

.footer-title {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 15px;
  font-size: 16px;
  position: relative;
}

.footer-title:after {
  width: 50px;
  background: #fff;
  opacity: 0.2;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.gem-contacts-item {
  padding-top: 10px;
  font-size: 15px;
}

.gem-contacts-item i {
  padding-right: 10px;
}

footer .widget ul {
  list-style: none;
  margin-top: 5px;
}

.posts li {
  border-bottom: 1px solid #393d50;
  padding-bottom: 12px;
  padding-top: 6px;
}

footer p,
footer li {
  font-size: 15px;
  line-height: 22px;
}

.gem-pp-posts-date {
  color: #00bcd4;
  font-size: 89.5%;
}
 <!-- NL1023 : 16/09/2023 - removed poppins-->
footer p {
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 0px;
  color: #c1c1c1;
  font-weight: 500;
  font-family: "Noto Sans Devanagari", sans-serif;
}

.ftcol {
  width: 50%;
  padding: 0;
  text-align: end;
}



/*================= For small laptops================ */
@media screen and (max-width: 1360px) {
  .footer_right {
    padding-left: 35px;
  }

  footer_centre {
    padding-left: 30px;
    padding-right: 40px;
  }

  .footer_left {
    .footer_logo_wrap .footer_logo:last-child {
      width: 143px;
    }
  }

  .footer_left {
    .footer_logo_wrap .footer_logo:first-child {
      width: 65px;
    }
  }
}

/* ========================== */
/* Media Queries */
/* For mobile phones: */
/* ========================== */
@media (max-width: 600px) {
  .footer_main {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    /* padding-bottom: 25px; */
  }

  .footer-top {
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 24px;
  }

  .footer_left {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #4b4b4b;
  }

  .footer_centre {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #4b4b4b;
    padding-bottom: 10px;
  }

  .footer-top .footer_right {
    width: 100%;
    padding-left: 0px;

    h5 {
      margin-bottom: 17px;
    }
  }

  .poweredby {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    gap: 7px;
    align-items: center;

    a {
      width: 95px;
    }
  }

  .footer-bottom {
    padding: 15px 0 5px;
  }

  .input_wrap {
    height: 48px;
  }

  .footer_col h4 {
    margin-bottom: 15px;
  }

  #footer-socials {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .ftcol {
    width: 100%;
    padding: 18px 0px;
    text-align: center;
  }

  .footer_centre .footer_col:nth-child(2) {
    padding-left: 15px;

    .footer_menu {
      flex-direction: column;
    }
  }
}