.sports_banner {
  position: relative;
  width: 100%;
  min-height: 294px;
  overflow: hidden;
  background-image: radial-gradient(50% 30% ellipse at center top, #a2e9c8 0%, rgb(0 0 0 / 0%) 100%), radial-gradient(60% 50% ellipse at center bottom, #a2e9c8 0%, #cfffe9 100%);
  margin-bottom: 20px;

  .cm-container {
    position: relative;
    z-index: 1;
  }

  .cm-container h2 {
    position: relative;
    border-left: 4px solid #0c87b48f;
    padding-left: 13px;
    color: #087697;
    padding-top: 2px;
  }



  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 42%;
    transform: translateY(-50%);
    width: 170px;
    height: 164px;
    background-image: url(/asset/images/sports7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 70%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    background-image: url(/asset/images/sports8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 60%;
  }
}

.adContainer {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.dg_top {
  .category_strip {
    bottom: 10px;
  }
}

.news_main_wrap {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -26px;
    background-color: rgba(0, 0, 0, 0.105);
  }
}


/* photo gallery */

.sports-img-container {
  margin-bottom: 40px;
  padding-inline: 15px;
  padding-bottom: 30px;
  padding-top: 35px;
  border-radius: 10px;
  background-image: radial-gradient(50% 30% ellipse at center top, #50d8ff 0%, rgb(0 0 0 / 0%) 100%), radial-gradient(60% 50% ellipse at center bottom, #50d8ff 0%, #def5ff 100%);
  width: 100%;
  margin-top: 10px;

  h4 {
    position: relative;
    text-align: center;
    color: #087697;
    font-weight: 500;
    position: relative;
    margin-bottom: 28px;
    padding-bottom: 12px;

    /* border-bottom: 1px solid #0876974a; */
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 1;
      width: 100%;
      height: 1.2px;
      background: linear-gradient(90deg, transparent 0, #0a7c9fad 50%, transparent);
    }
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.news-grid-item {
  position: relative;
  overflow: hidden;
  height: 165px;
  border-radius: 5px;
  overflow: hidden;
}

.news-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transform: scale(1);
  opacity: 1;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
    filter: brightness(1.2);
  }
}

.news-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 15px;
}

.news-category {
  font-size: 12px;
  text-transform: uppercase;
  color: red;
}

.cstm-news-title {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #fff
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 1635px) {
  .adContainer {
    max-width: 1220px;
  }


}

@media (max-width: 1438px) {
  .adContainer {
    max-width: 1040px;
  }
}

@media (max-width: 1360px) {
  .adContainer {
    max-width: 900px;
  }

 .sports_banner .cm-container h2 {
  padding-left: 12px;
  position: relative;
}


}

@media (max-width: 1260px) {
  .sports_banner {
    &::after {
      left: 16px;
      top: 43%;
      transform: translateY(-50%);
      opacity: 40%;
      width: 170px;
      height: 170px;
    }

    &::before {
      right: 15px;
      top: 40%;
      transform: translateY(-50%);
      width: 170px;
      height: 170px;
    }
  }
}

@media (max-width: 1190px) {
  .adContainer {
    max-width: 710px;
  }
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* story */

.story-grid {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.reals-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: auto;
  width: 13px;
  height: 19px;
  background-color: #fff;
  border-radius: 2px;
}

.reals-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
  width: 2px;
  height: 16px;
  border-radius: 10px;
  background-color: #fff;
}

.reals-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4px;
  width: 2px;
  height: 16px;
  border-radius: 10px;
  background-color: #fff;
}

.story-card {
  max-width: 150px;
  width: 100%;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.story_img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.story_img {
  position: relative;
  height: 210px;
  border-radius: 5px;
  overflow: hidden;
}

.story-card p {
  margin-top: 5px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
  text-align: left;
}

.cstm-story-container {
  margin-top: 30px;
}

.cstm-story-container h3 {
  text-align: center;
  margin-bottom: 36px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  color: #414141;
}

/* .cstm-story-container h3::before {
     content: "";
    position: absolute;
    left: 0;
    bottom: -11px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent 0, #62d100 50%, transparent);
} */


/* ========================== */
/* Media Queries */
/* For mobile phones: */
/* ========================== */


@media (max-width: 600px) {
  .sports_banner {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 288px;

    & .cm-container {
      h2 {
        padding-left: 13px;
        font-size: 24px;
      }
    }

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .sports-img-container {
    padding-top: 26px;
  }

  .news_sub_wrap {
    padding-top: 10px;
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-grid-item {
    height: 120px;
  }

  .news-overlay {
    padding: 5px;
  }

  .cstm-news-title {
    font-size: 14px;
    line-height: 19px;
  }

  .site-content {
    margin-top: 86px;
  }

  .ns_wrap {
    padding: 0px 15px;
  }
}