.web-stories-block {
    width: 100%;
    padding-block: 35px;
    padding-top: 30px;
    background: #000;
    /* background: radial-gradient(circle, #2f2f2f 10%, #000000 11%); */
    background-size: 1em 1em;
    opacity: 1;
    margin-bottom: 12px;
}

.story-title h2 {
    color: white;
    border-left: 4px solid red;
    padding-left: 12px;
    line-height: 31px;
    margin: 0;
}

.story-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-btn:hover {
    background-color: red;
    color: white;
}


.section-btn {
    white-space: nowrap;
    color: #cacaca;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #920000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.more_btn {
    display: table;
    justify-content: space-between;
    align-items: center;
    color: #f3242b;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 13px;
    padding: 1.5px 10px;
    text-decoration: none;
    background-color: transparent;
}

.more_btn i {
    -webkit-transition: all 0.7s ease;
    transition: all 0.5s ease;
}

.more_btn:hover i {
    transform: translateX(5px);
}


.swiper-slide {
    position: relative;
}

.reals-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    margin: auto;
    width: 15px;
    height: 23px;
    background-color: #fff;
    border-radius: 2px;
}

.reals-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    width: 2px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.reals-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    width: 2px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.web_s {
    padding-top: 10px;
    background: transparent;
}

.web_s a {
    height: 360px;
    overflow: hidden;
}

.web_s a img {
    width: 100%;
    height: 100%;
}


/* webStory category styles */
.web-stories-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.--newsCard-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    grid-auto-rows: 411px;
}

.--newsCard-row::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.--newsCard {
    max-width: 205px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.--newsCard:hover {
    transform: scale(1.02);
}

.--newsCard-imgWrapper {
    position: relative;
}

.cstm_container {
    h2 {
        font-size: 26px;
        border-left: 4px solid red;
        padding-left: 18px;
    }
}

.--newsCard-img {
    width: 100%;
    position: relative;
    /* height: 350px; */
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.story_p {
    font-size: 16px;
    line-height: 21px;
    margin-top: 9px;
}

.--newsCard-reelIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
}

.--newsCard-body {
    padding: 10px 0 0 0;
}

.--newsCard-title {
    margin-top: 5px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
}

.--prev,
.--next {
    color: #ff0000;
    background: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.--prev {
    left: -40px;
}

.--next {
    right: -40px;
}

.--next:after {
    margin-left: 2px;
}

.--prev:after {
    margin-right: 2px;
}

.--next:after,
.--prev:after {
    color: #ff0000 !important;
    font-size: 19px;
    font-weight: 700;
}

.swp-main {
    position: relative;
    overflow: visible;
}

.swiper-wrapper-outer {
    overflow: hidden;
    position: relative;
    padding: 0px 40px;
}

.swp-main::before,
.swp-main::after {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
    background: #000000;
    z-index: 2;
    pointer-events: none;
}

.swp-main::before {
    left: -42px;
    background: linear-gradient(to right, #000 90%, transparent);

}

.swp-main::after {
    right: -43px;
}

/* .swiper-wrapper-outer {
    overflow: hidden;
    position: relative;
  }
  
  .swiper2 {
    overflow: visible !important;
    position: relative;
  } */



/* --------------- */
/* ========================== */
/* Media Queries */
/* For Small laptops: */
/* ========================== */
@media screen and (max-width: 1360px) {
    .web-stories-block {
        width: 100%;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    .web_s a {
        height: 318px;
        overflow: hidden;
        border-radius: 12px;
    }
}

@media screen and (max-width: 600px) {

    .--prev,
    .--next {
        display: none;
    }

    .swp-main::before,
    .swp-main::after {
        display: none;
    }

    .web-stories-section .web-stories-block {
        padding-left: 15px;
        padding-right: 15px;
        padding-block: 15px;
    }

    .story-title {
        margin-top: 10px;
    }

    .web-stories .story-title {
        & h2 {
            &::after {
                width: 0%;
            }
        }
    }


    .category-thumbnail h3 {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        /* -webkit-line-clamp: 2; */
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-size: 13px;
        font-weight: 400;
        left: 0;
        line-height: 18px;
        padding: 1px 4px;
    }

    .swiper-wrapper .web_s {
        a {
            height: 292px;
        }
    }

    .story-title h2 {
        font-size: 20px;
        line-height: 27px;
        padding-left: 10px;
    }

    .--prev,
    .--next {
        height: 30px;
        width: 30px;
    }

    .--next:after,
    .--prev:after {
        font-size: 16px;
    }

    .swiper-wrapper-outer {
        overflow: hidden;
        position: relative;
        padding: 0px 25px 0 6px;
    }

    .--next {
        right: -30px;
    }

    .--prev {
        right: -30px;
    }

}

@media screen and (max-width: 600px) {
    .--newsCard-row {
        display: grid;
        flex-wrap: wrap;
        gap: 12px;
        grid-template-columns: 1fr 1fr;
    }

    .--newsCard {
        min-height: 100%;
    }


}

/* @media screen and (max-width: 600px) {
    .swiper-wrapper .web_s {
        a {
            height: 275px;
        }
    }

    .story-title h2 {
        font-size: 20px;
        line-height: 27px;
        padding-left: 10px;
    }

    .--prev,
    .--next {
        display: none;
    }

    .swp-main::before,
    .swp-main::after {
        content: none;
        width: 0;
    }

    .swiper-wrapper-outer {
        padding: 0px;
    }

} */